.Chat {
  display: flex;
  flex-direction: column;
}

.ChatContainer {
  background-color: #3a3a3a;
  min-height: 75vh;
  max-height: 75vh;
  border-radius: 15px;
  border: 1px solid greenyellow;
  overflow: auto;
}

.InputContainer {
  display: flex;
  margin-top: auto;
  align-items: center;
  margin-top: auto;
  padding-top: 2px;
}

.UserInput {
  min-height: 34px;
  border-radius: 15px;
  margin-right: 3px;
  flex-grow: 1;
  padding: 10px 10px 0px 10px;
  resize: vertical;
}

.SendIcon {
  height: 34px;
}

.UserChat {
  background-color: gray;
  margin-left: auto;
  margin-right: 3px;
  padding: 10px 10px 10px 10px;
}

.AIChat {
  background-color: #3a3a3a;
  margin-right: auto;
  margin-left: 3px;
  padding-right: 100px;
}

.UserChat,
.AIChat {
  width: fit-content;
  border-radius: 20px;
  padding: 8px 8px;
  font-size: x-small;
}
